[submodule "inc/libopencm3"]
	path = submodules/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "inc/FreeRTOS"]
	path = submodules/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "submodules/SMBus"]
	path = submodules/SMBus
	url = https://github.com/PocketPi/SMBus.git
